@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

:root {
    --mint-green: #e3fcef;
    --dark-green: #064E3B;
    --subtext-color: rgb(99, 99, 99);
}

h2, h3, p {
    margin: 0;
    padding: 0;
}

h2, h3 {
    margin-bottom: 2px;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
}

main {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: var(--mint-green);
    gap: 20px;
}

.projects {
    margin: 20px 0 20px 20px;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    background-color: var(--mint-green);
    gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 200px;
}

.card p {
    font-size: .9rem;
    color: var(--subtext-color);
}

.card-icons {
    justify-self: end;
    display: flex;
    gap: 15px;
}

.card-icons img {
    height: 20px;
    width: auto;
}

.main-right {
    margin: 20px 20px 20px 0;
}

.announcements {
    margin-bottom: 20px;
}

.announcements h3 {
    font-size: .9rem;
}

.announcements-message-mid {
    border-top: solid var(--subtext-color) 2px;
    border-bottom: solid var(--subtext-color) 2px;
    padding: 10px 0;
    margin: 10px 0;
}

.announcements p {
    font-size: .8rem;
    color: var(--subtext-color);
}

.trending-container {
    display: grid;
    gap: 20px;
}

.trending-item {
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.trending-item img {
    height: 40px;
    width: auto;
    margin-right: 20px;
}

.trending-description {
    display: grid;
    gap: 2px;
}

.trending-project {
    color: var(--subtext-color);
}

nav {
    grid-column: 1;
    grid-row: 1 / -2;
    background-color: var(--dark-green);
    color: white;
}

nav ul {
    margin: 0;
    padding: 10px;
}

nav li {
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    margin-left: 12px;
}

.nav-icon {
    padding-left: 1.5rem;
    background-position: 7px center;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    list-style-type: none;
}

.nav-icon-logo {
    padding-left: 1.5rem;
    background-position: 0px center;
    background-size: 1.8rem auto;
    background-repeat: no-repeat;
    list-style-type: none;
}

nav h1 {
    padding: 0;
    font-size: 20px;
    margin: 0 0 0 12px;
}

.logo {
    background-image: url("/image/land-plots.svg");
    margin-bottom: 30px;
}

.home {
    background-image: url("/image/home.svg");
}

.profile {
    background-image: url("/image/card-account-details-outline.svg");
}

.message {
    background-image: url("/image/message-reply.svg");
}

.history {
    background-image: url("/image/clock-time-four-outline.svg");
}

.tasks {
    background-image: url("/image/file-multiple.svg");
}

.communities {
    background-image: url("/image/account-group.svg");
    margin-bottom: 30px;
}

.settings {
    background-image: url("/image/cog.svg");
}

.support {
    background-image: url("/image/help-box.svg");
}

.privacy {
    background-image: url("/image/shield-check.svg");
}

.card, 
.announcements-container,
.trending-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

header {
    grid-column: 2;
    grid-row: 1;
    padding: 10px 30px;
}

header input {
    border-radius: 1rem;
    border-style: none;
    text-indent: 10px;
    background-color: var(--mint-green);
    width: 100%;
    margin-right: 60px;
}

.header-search-button {
    display: flex;
    align-items: center;
    background:none;
    border:none;
    padding-left: 0;
}

.header-search-icon {
    height: 1rem;
    width: auto;
}

.header-top-row a {
    display: flex;
    align-items: center;
}

.header-top-row,
.header-bottom-row {
    align-items: center;
}

.header-top-row {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    gap: 15px;
    margin-bottom: 25px;
}

.header-top-avatar {
    height: 1.5rem;
    width: auto;
}

.header-bottom-avatar {
    height: 3rem;
    width: auto;
}

.header-top-row form {
    grid-column: 1;
    display: flex;
    align-items: center;
}

.header-top-alerts {
    grid-column: 2;
    width: 15px;
    height: auto;
}

.header-top-avatar {
    grid-column: 3;
}

.header-top-name {
    grid-column: 4;
    font-weight: bold;
}

.header-bottom-row {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr auto;
    column-gap: 15px;
}

.header-bottom-row img {
    grid-row: 1 / -1;
    grid-column: 1;
}

.header-bottom-greeting {
    grid-row: 1;
    grid-column: 2;
}

.header-bottom-name {
    grid-row: 2;
    grid-column: 2;
    font-weight: bold;
    font-size: 1.3rem;
}

.header-buttons {
    grid-row: 1 / -1;
    grid-column: -2 /-1;
    display: flex;
    gap: 15px;
}

.header-buttons button {
    border-style: none;
    color: white;
    background-color: var(--dark-green);
    padding: 8px 25px;
    border-radius: 1.5rem;
}

.header-top-row-right {
    margin-left: auto;
}

footer {
    grid-column: 1 / -1;
    justify-self: center;
    display: flex;
    align-items: center;
    padding: 3px;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: .5rem;
}